:root{
  --main-background-color: #181818;
  --main-background-color-transparent: #181818b6;
  --secundary-background-color: #282828;
  --border-divisor-color: #171717;
  --border-divisor-color-light: #999999;
  --font-color: #999999;
  --font-color-light: #ffffff;
  --hover-font-color: #acacac;
  --icon-color: #888787;
  --icon-color-disabled: #777676;
  --hover-icon-color: #acacac;
  --button-play-bg: #5714af;
  --light-icon-color: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-size: 1.08rem;
  font-weight: lighter;
}

body {  
  background-color: var(--main-background-color);
  font-family: "Rubik", sans-serif;
  font-size: 1.08rem;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

.container{
  display: flex;
  flex-direction: column;
}

.button{
  min-width: 100px;
  max-width: 100px;
  height: 35px;
  color: var(--font-color-light);
  outline: none;
  border: 1px solid var(--font-color-light);
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2em;
}

.button-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--font-color-light);
  background-color: transparent;
  color: var(--font-color-light);
}

.button-play{
  background-color: var(--button-play-bg);
  color: var(--font-color-light);
  border: none !important;
}

.button-play i{
  color: var(--light-icon-color)
}

.button-circle i{
  color: var(--light-icon-color)
}

/* Icons */
.icons{
  color: var(--font-color);
}

.icons-medium{
  font-size: 1.3rem;
}

.icons-small {
  font-size: 0.7rem
}

.icon-disabled{
  color: var(--icon-color-disabled);
}

.icons::hover{
  color: var(--hover-icon-color)
}

.icons::hover a{
  color: var(--hover-icon-color)
}

.icon-wrapper{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

}

.desktop-icons{
  display: none;
}

.bottom-divisor{
  border-bottom: 1px solid var(--border-divisor-color);
}

.bottom-divisor-light{
  border-bottom: 1px solid var(--border-divisor-color-light);
}

.bottom-activated-border{
  border-bottom: 4px solid var(--button-play-bg);
}

.medium-thumb-img{
  width: 4em;
}


/* Header */
.header-container{
  width: 100vw;
  padding: 10px 0;
  background-color: var(--secundary-background-color); 
}

.nav-menu{
  display: flex;
  flex-direction: column;
}

.search-container{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  margin-bottom: 10px;
  gap: 28px ;
}

.input-search-container{
  display: flex;
  flex-wrap: nowrap;
  border-radius: 12px;
  padding: 4px;
  color: var(--font-color);
  background-color: white;
}

.search-input{
  width: 60vw;
  padding-right: 45px;
  border: none;
  outline: none;
}

.profile-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.user-info-wrapper{
  display: flex;
  align-items: center;
  flex-grow: 0.1;
  gap: 6px;
}

.user-info{
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-picture{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.features-container{
  display: flex;
  width: 100vw;
  background-color: var(--secundary-background-color);
  flex-direction: column;
}

.features-nav-menu{
  width: 100vw;
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.feature{
  display: flex;
  flex-direction: column;
  width: 26%;
  justify-content: center;
  text-align: center;
  gap: 6px
}

.feature-title{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
}

.feature-title h2, a{
  font-size: 75%;
  flex-wrap: nowrap;
  text-align: left;
}

#trigger:checked + .test {
  display: none;
}

.feature-items{
  display: flex;
  flex-direction: column;
  gap: 18px;
}


.feature-item{
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.playlist-container{
  display: flex;
  flex-direction: column;
}

.new-playlist-container{
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 12px 8px;
  gap: 12px;
  height: 8vh;
}

.playing{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.playing-song-container{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.playing-song-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 15px;
}

.playlist-added{
  padding-right: 14px;
}

.app-artist-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.artist-profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 0 0;
  background-position: top center;
  background: rgba(0, 0, 0, 0.6) url(./img/artist-cover.jpg);
  background-blend-mode: darken;
  background-size:cover;
}

.artist-info-wrapper{
  display: flex;
  flex-direction: column;
}

.artist-profile-picture{
  display: flex;
  justify-content: center;
}

.artist-profile-picture img{
  border-radius: 50%;
  /* max-width: 50%; */
  /* max-height: auto; */
  width: 180px;
  height: 180px;
  /* min-width: 150px; */
  /* min-height: 150px;   */
}

.artist-profile-data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-profile-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  padding: 14px;
}

.artist-profile-title h1{
  text-align: center;
  color: var(--font-color-light);
  font-size: 2rem;
  font-weight: lighter;
}

.button-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.button-wrapper button{
  margin: 0 10px 0 0;
}

.artist-profile-listeners-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 15px;
}

.artist-menu-tabs{
  display: flex;
  width: 100%;
  background-color: var(--main-background-color-transparent);
}

.nav-tabs{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.nav-tabs h2{
  color: var(--font-color-light);
  padding-bottom: 8px;
}

.artist-content-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content-block-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.content-block-items{
  display: flex;
  align-items: center;
}

.content-thumb-img {
  height: 100%;
}

.release-content-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  gap: 14px;
  background-color: var(--secundary-background-color);
}

.content-info h2, h4{
  color: var(--font-color-light);
}


.content-track-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  color: var(--font-color-light);
}

.content-track-row h2, i{
  color: var(--font-color-light);
}

#songs-track-img{
  width: 40px;
  padding: 0 8px 0 4px;
}

#songs-track-id{
  width: 2vw;
  padding: 0 4px 0 0;
}

#songs-track-icon{
  display: flex;
  justify-content: flex-end;
  width: 14vw;
}

#songs-track-title{
  width: 40vw;
text-align: center;
}

#songs-track-views{
  width: 50vw;
  display: flex;

  justify-content: flex-end;
  flex-wrap: wrap;
  color: var(--font-color-light);
  align-items: flex-end;
}



@media (min-width: 620px){
  .artist-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .artist-info-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    padding: 15px;
  }
  
  .artist-profile-data{
    align-items: flex-start;
  }
    
  .artist-profile-title{
    align-items: flex-start;
  }

  .artist-profile-listeners-info{
    align-items: flex-end;
  }

}

@media (min-width: 813px){
  * { 
    font-size: 1rem;
  }

  .icon-wrapper{
    flex-wrap: nowrap;
  }

  .header-container{
    padding: 8px;
  }

  .nav-menu{
    flex-direction: row;
    justify-content: space-between;
  }
  
  .profile-container{
    justify-content: flex-end;
    width: 45vw;
    right: 0;

  }

  .search-container{
    justify-content: flex-start;
    margin-bottom: 0;
    width: 40vw;
  }

  .input-search-container{
    width: 320px;
  }

  .search-input{
    width: 200px;
  }
}

/* desktop break design */
@media (min-width: 961px){
  .container{
    flex-direction: row;
  }
  .desktop-icons{
    display: block;
  }

  .icon-disabled{
    display: none;
  }

  .header-container{
    padding: 10px 20px;
  }
  
  .features-container{
    display: flex;
    width: 19.8vw;
    min-width: 120px;
    max-width: 380px;
    height: 100vh;
    left: 0;
  }

  .features-nav-menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
  }
  
  .feature{
    gap: 14px;
    margin-bottom: 12px;
    text-align: left;
    width: auto;
  }

  .feature-title{
    justify-content: flex-start;
  }

  .feature-item{
    width: 100%;
    min-width: 80px;
    gap: 12px;
    display: flex;
  }
  
  .new-playlist-container{
    display: flex;

  }
}